extends layout

block content
  h1#question= 'Please rate our website:'
  form#feedback
    input#very-unhappy(type='image', src='/images/very-unhappy.png', width="100", height="100")
    input#slightly-unhappy(type='image', src='/images/slightly-unhappy.png', width="100", height="100")
    input#slightly-happy(type='image', src='/images/slightly-happy.png', width="100", height="100")
    input#very-happy(type='image', src='/images/very-happy.png', width="100", height="100")
